html,body{
	font-family: "Microsoft Yahei";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 11px;
}


.fullpage{
	width: 100%;
	height: 100%;
}

h3{
	font-weight: bold;
	text-align: left;
	 margin: 0 !important;
	 font-family: "Microsoft Yahei";
}
p,div{
	font-family: "Microsoft Yahei";
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7{
	text-align: center;
	width: 100%;	
	 
	margin: 0 auto;
	
}
.page2 p,.page3 p,.page4 p,.page5 p,.page6 p,.page7 p{
	text-indent:50px;
	text-align: left;
	line-height: 2;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
	padding: 2px !important;
}
/*page1*/
.page1{
	text-align: center;
	height: 100%;
	min-height: 100%;
	position: relative;
}
.page1 .title{
		font-size: 45px;	
		margin-top: 8%;
		font-weight: bold;
		
}

.page1 .information{
	 width:40%;
	 text-align: left;
	 text-align: -moz-left;	
	 margin:35% 30% 0 30%;	 	
}
.page1 .containerpage1{
	  
}
.page1 .institution{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 90px;/*脚部的高度*/						 
	clear:both;
}
 
 /*page2*/

.page2{
	height: 100%;
}
 
 
 /*page3*/
.page3{
	height: 100%;
}


/*page4*/
.page4{
	 height: 100%;
	 
}
.page4 .analysis p:not(.firstp){
	text-indent: inherit;
}
 
.page4 .analysis p:nth-of-type(2){
 	
 }
 /*page5*/
.page5{
	height: 100%;
}
.page5 tr{
	  
}
.page5 table th{	
	text-align: center;
	color:#fff !important;
	background-color:#D32F2F !important;
}
.table-striped tbody tr:nth-of-type(odd){
	background-color: #f2dede !important;
}

/*page6*/
.page6{
	height: 100%;
}
.excellent span,.good span,.Medium span,.base span,.develop span{
	padding:0 10px;
}
.hidep{
	display: none;
	text-align: left;
}
.page6_analysis table{
	 
	
}
.page6_analysis table td{
	width: 25% !important;
	
	
}
/*page7*/
.hbar{
	height: 15px;
	background-color: #EC971F !important;
}
#column_table {
	text-align: center;
}
#column_table thead tr th{
	text-align: center;
}
#column_table thead th span{
	border: 1px solid black;
	word-spacing:4px;
	letter-spacing:4px
}


/*hidden*/
.childid{
	display: none;
}
