html,body{
	font-family: "Microsoft Yahei";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 11px;
	letter-spacing: 1px;
}


p{
	margin: 10px 0 10px !important;
}
.relative{
	position: relative;
}
.fullpage{
	width: 100%;
	height: 100%;
}
h4{
	text-align: left;
	font-family: "Microsoft Yahei";
	font-weight:bold;
}
table{
	margin-bottom: 0 !important;
}
h3{
	font-weight: bold;
	text-align: left;
	 margin: 0 !important;
	 font-family: "Microsoft Yahei";
	 font-size: 20px !important;
}
p,div{
	font-family: "Microsoft Yahei";
}
.page1,.page2,.page3,.page4,.page5,.page6,.page7,.page8,.page9,.page10,.page11,.page12{
	text-align: center;
	width: 70%;		 
	margin: 0 auto;	
	height: 100% !important;
	display: block !important;
}
.page2 p,.page3 p,.page4 p,.page5 p,.page6 p,.page7 p,.page8 p,.page9 p,.page10 p,.page11 p,.page12 p{
	text-indent:40px;
	text-align: left;
	line-height: 2;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
	padding: 1px !important;
}

.headpage{
	width: 80%;
	border-bottom: 1px solid black;
	margin: 20px auto;
}
.imghead{
	width: 20px;
	height: 20px;
	background: url(../img/hzkj.png) no-repeat 0 0;
	background-size: 100% 100%;
}
/*page1*/
.page1{
	text-align: center;
	height: 100%;
	min-height: 100%;
	position: relative;
}
.page1 .title{
		font-size: 33px;	
		padding-top:30%;
	 
		
}
.center{
	text-align: center;
	font-size: 10px;
}
.page1 .information{
	 width:50%;
	 text-align: center;
	 text-align: -moz-left;	
	 margin:30% 25% 0 25%;	 	
}
.page1 .information>div{
	margin:10px 0;	
}
.information>div div{
	display: inline-block;
	text-align: center;
	width: 66%;
	border-bottom: 1px solid black;
}
.information>div span{
	display: inline-block;
 	width: 32%;
}
.biginfo>div span{
	display: inline !important;	
}
.noborder{
	display: inline !important;
	border-bottom: none !important;
}
.biginfo{
	font-size: 20px;
}
.page1 .information span{

}
.page1 .containerpage1{
	  
}
.page1 .institution{
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 90px;/*脚部的高度*/						 
	clear:both;
	line-height: 1;
}
 
 /*page2*/

.page2{
	 
	letter-spacing:1px;
	height: 100page7% !important; 
	margin-top: 50px;
}
 .page2_wrap{
 }
 
 /*page3*/
.page3{
	display: none;
		letter-spacing:1px;
	height: 100%;
}


/*page4*/
.page4{
	display: none;
		letter-spacing:1px;
	 height: 100%;
	 
}
.chart h4{
	margin-bottom: 15px !important;
}
.page4 .analysis p:not(.firstp){
	 
}
 
.page4 .analysis p:nth-of-type(2){
 	
 }
 #chart-container{
 
 }
 /*page5*/
.page5{
	display: none;
		letter-spacing:1px;
	height: 100%;
}
.page5 tr{
	  
}
.page5 p{
	margin-bottom: 1px !important;
	margin-top: 1px !important;
}
.page5 table th{	
	text-align: center;
	color:#fff !important;
	background-color:#D32F2F !important;
}
.table-striped tbody tr:nth-of-type(odd){
	background-color: #f2dede !important;
}

/*page6*/
.page6{
	display: none;
		letter-spacing:1px;
	height: 100%;
}
.excellent span,.good span,.Medium span,.base span,.develop span{
	padding:0 10px;
}
.hidep div:first-child{
	margin: 5px 0;
	text-indent: 40px;
}
.hidep{
	display: none;
	text-align: left;
}
.page6_analysis table{
	 
	
}
.page6_analysis table td{
	width: 25% !important;
	
	
}
/*page7*/
.page7{
	display: none;
	
		letter-spacing:1px;
}
.hbar_wrap{
	height: 15px;
	position: relative;
	width: 100%;
}
.hbar{
	height: 15px;
	background-color: #EC971F !important;
	z-index: 10;
	position: absolute;
}
.hbar_background{
width:100%;
height:15px;
background-color: black !important;
position: absolute;

}
.hpadding{
	
}
#column_table {
	text-align: center;
}
#column_table thead tr th{
	text-align: center;
}
#column_table thead th span{
	border: 1px solid black;
	word-spacing:4px;
	letter-spacing:4px
}
#column_table>tbody>tr>td{
	padding: 5px !important;
}
#column_table thead th:nth-of-type(1){
	width: 20%;
}
#column_table thead th:nth-of-type(3){
	width: 20%;
}
/*hidden*/
.childid{
	display: none;
}

/*page8*/
.page8{
	height: initial;
	 display: none;
}

/*page9*/
.page9{
	height: initial;
	 display: none;
}

/*page10*/
.page10{
	height: initial;
	 display: none;
}

/*page11*/
.page11{
	height: initial;
	display: none;
}
.page11 h3{
	 
}
/*page12*/
.page12{
	height: initial !important;
	display: none;
}
.page12 h3{
	 text-align: center;
}
.page12 h5{
	text-align: left;
}
.date1{
	float: right;
	text-align: right !important;
}
